/* Credits Page */
.site-body {
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: fixed;
}
.site-body .credits {
  width: 100%;
  overflow: hidden;
  margin: 5% 0 0 0;
  position: relative;
}
.site-body .credits .wrapper {
  display: flex;
  height: 100%;
  width: 60%;
  margin: 0 auto;
  perspective: 450px;
}
.site-body .credits .wrapper .episode {
  padding: 75px 0;
}
.site-body .credits .wrapper .text-scroll {
  color: #FFC909;
  font-weight: bold;
  position: relative;
  animation: scroll 60s linear forwards;
}
.site-body .credits .wrapper .text-scroll h2, .site-body .credits .wrapper .text-scroll h3 {
  font-size: 2.3rem;
  color: #FFF;
}
.site-body .credits .wrapper .text-scroll p {
  font-size: 1.8rem;
  line-height: 2.2rem;
  margin: 30px 0;
  text-align: justify;
}
@keyframes scroll {
  from {
    top: 0;
    /*transform: translateZ(0) rotateX(20deg);*/
  }
  to {
    top: -2000px;
    /*transform: translateZ(-1700px) rotateX(21deg);*/
  }
}

body {
  background: #222;
  color: #FFF;
}
body header.site-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3c3c3c;
  padding: 20px 0;
}
body header.site-header .menu .col-xs-12 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body header.site-header .menu .col-xs-12 a {
  padding: 10px 20px;
  color: #FFF;
  text-decoration: none;
}
body header.site-header .menu .col-xs-12 a:hover {
  background: #FFC909;
  color: #000;
}
body header.site-header .menu .col-xs-12 a.logo {
  padding-left: 0px;
}
body header.site-header .menu .col-xs-12 a.logo:hover {
  background: transparent;
}
body section.body {
  padding: 50px 0;
}
body section.body .cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;
}
body section.body .cards .card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #333;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  text-align: center;
}
body section.body .cards .card h2 {
  font-size: 1.3rem;
  text-transform: uppercase;
  margin: 0 0 20px 0;
  text-align: left;
}
body section.body .cards .card p {
  text-align: left;
}
body .filter-form {
  padding: 20px;
  background: #444;
  border-radius: 5px;
  margin: 35px 0;
}
body .filter-form .text-hidden {
  display: none;
}
body .filter-form .input-group-text {
  height: 100%;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
body .responsive {
  overflow-x: scroll;
}
body .responsive table {
  width: 100%;
}
body .responsive table thead {
  background: #FFC909;
  color: #333;
  text-transform: capitalize;
}
body .responsive table thead tr th, body .responsive table tbody tr td {
  padding: 5px;
}
