/* Credits Page */
.site-body {
    overflow:hidden;
    width:100%;
    height:100%;
    position:fixed;

    .credits {
        width:100%;
        overflow:hidden;
        margin:5% 0 0 0;
        position:relative;

        .wrapper {
            display:flex;
            height:100%;
            width:60%;
            margin:0 auto;
            perspective: 450px;

            .episode {
                padding:75px 0;
            }

            .text-scroll {
                color:#FFC909;
                font-weight:bold;
                position:relative;
                animation: scroll 60s linear forwards;

                h2, h3 { font-size:2.3rem; color:#FFF; }
                p { font-size:1.8rem; line-height:2.2rem; margin:30px 0; text-align:justify; }
            }
        }

        @keyframes scroll {
            from {
                top:0;
                /*transform: translateZ(0) rotateX(20deg);*/
            }

            to {
                top:-2000px;
                /*transform: translateZ(-1700px) rotateX(21deg);*/
            }
        }
    }
}


body {
    background:#222;
    color:#FFF;

    header.site-header {
        display:flex;
        justify-content:center;
        align-items:center;
        background:lighten(#222, 10%);
        padding:20px 0;

        .menu {
            .col-xs-12 {
                display:flex;
                justify-content:space-between;
                align-items:center;
                
                a {
                    padding:10px 20px;
                    color:#FFF;
                    text-decoration: none;
                }

                a:hover {
                    background:#FFC909;
                    color:#000;
                }

                a.logo {
                    padding-left:0px;
                }
                
                a.logo:hover {
                    background:transparent;
                }
            }
        }
    }

    section.body {
        padding:50px 0;

        .cards {
            display:grid;
            grid-template-columns:repeat(4, 1fr);
            grid-gap:15px;

            .card {
                display:flex;
                flex-direction:column;
                justify-content:flex-start;
                color:#333;
                padding:10px;
                border-radius:10px;
                position:relative;
                text-align:center;

                h2 {
                    font-size:1.3rem;
                    text-transform:uppercase;
                    margin:0 0 20px 0;
                    text-align:left;
                }

                p {
                    text-align:left;
                }
            }
        }
    }
    
    .filter-form {
        padding: 20px;
        background: #444;
        border-radius: 5px;
        margin: 35px 0;

        .text-hidden {
            display:none;
        }

        .input-group-text {
            height:100%;
            border-top-right-radius:0px;
            border-bottom-right-radius:0px;
        }
    }

    .responsive {
        overflow-x:scroll;
        
        table {
            width:100%;
            
            thead {
                background:#FFC909;
                color:#333;
                text-transform:capitalize;
            }

            thead tr th, tbody tr td {
                padding:5px;
            }
        }
    }
}

